<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script defer src="../node_modules/swup/dist/swup.min.js" charset="utf-8"></script>
    <script defer src="../swup.js" charset="utf-8"></script>
    <title>Login</title>
</head>

<body>
    <main id="swup" class="transition-fade">
        <div class="dragArea"></div>
        <div class="loginCard">
            <div class="avt_con">
                <img class="avt" id="avt_url" draggable="false">
            </div>
            <div class="Txt_con">
                <p class="checkPhone">Check your phone!</p>
                <p class="log_as">Logging in as Naozumi#9929</p>
                <a href=" #" draggable="false">
                    <p class="retry">Not me, start over </p>
                </a>
            </div>
        </div>
        <script type="text/javascript" src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"></script>
        </head>
        <script src="./renderer.js"></script>
    </main>
</body>

</html>