@keyframes shake {
    0% {
        -webkit-transform: translate(-17px);
        box-shadow: 0 0 0.5em rgb(240, 70, 70);
    }

    25% {
        -webkit-transform: translate(2px);
        box-shadow: 0 0 0.5em rgb(240, 70, 70, 0.7);
    }

    75% {
        -webkit-transform: translate(-2px);
        box-shadow: 0 0 0.5em rgb(240, 70, 70, 0.5);
    }

    100% {
        -webkit-transform: translate(3px);
        box-shadow: 0 0 0.5em rgb(240, 70, 70, 0.2);
    }
}

html {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}

body {
    margin: 0;
    background-color: rgb(110, 124, 239);
    overflow: hidden;
}

.dragArea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;
    -webkit-app-region: drag;
}

.loginCard {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 460px;
    background-color: rgb(255, 255, 250);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
}

.loginTXT {
    display: block;
    font-size: 24px;
    margin-top: 5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.remedyIcon {
    margin-right: 4px;
    position: relative;
    top: 6px;
}

.loginTXT_token {
    font-size: 14px;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

a {
    outline: none;
    text-decoration: none;
    color: rgb(98, 159, 249)
}

.qrcode,
.tokenInput {
    display: inline-block;
    position: absolute;
    bottom: 50%;
    user-select: none;
    pointer-events: none;
    animation-name: appear_QR;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
}

.tokenInput {
    display: none;
    user-select: auto !important;
    pointer-events: all;
    margin-bottom: 90px;
}

.lable {
    font-size: small;
}

.input {
    width: 250px;
    height: 25px;
    outline: none;
}

.subBtn {
    width: 64px;
    height: 32px;
    color: rgb(255, 255, 255);
    background: rgb(98, 159, 249);
    border: none;
    border-radius: 3px;
    transition: 0.5s;
    outline: none;
}

.subBtn:hover {
    background: rgb(98, 159, 249, 0.75);
}

.subBtn:active {
    background: rgba(0, 101, 253, 0.75);
    transform: translateY(1px);
}

.qrTxt {
    display: block;
}

.tokenTxt {
    display: none;
}

@keyframes appear_QR {
    from {
        opacity: 0;
        transform: scale(1.5);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}