<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Remedy</title>
</head>

<body>
    <div class="dragArea"></div>
    <div class="ico_container">
        <img src="../../icon/favicon.png">
        <h4 class="title">Remedy Pro</h4>
        <p class="version" id="ver">Version {ver} ({ver})</p>
        <p class="au" id="au">Copyright © {current_yr} <a href="https://github.com/Naozumi520" id="hyper">Naozumi</a>
    </div>
    <script src="./script.js"></script>
</body>

</html>