.sidebar {
    display: none;
}

.main {
    width: 100%;
    min-width: 800px;
    max-width: 800px;
    padding-right: 40px;
    padding-left: 40px;
}

.group {
    zoom: 0.9;
}

.group .field .bt {
    background-color: rgb(107, 127, 235);
}

.group .field .bt:hover {
    background-color: rgb(107, 127, 235, 0.5);
}

.field-slider label {
    padding: 15px !important;
}

::-webkit-slider-thumb {
    background-color: rgb(152, 152, 153) !important;
}

::-webkit-slider-runnable-track {
    height: 5px !important;
    background-color: rgb(70, 70, 72) !important;
}